@charset "UTF-8";

@font-face {
  font-family: "custom";
  src:url("fonts/custom.eot");
  src:url("fonts/custom.eot?#iefix") format("embedded-opentype"),
    url("fonts/custom.woff") format("woff"),
    url("fonts/custom.ttf") format("truetype"),
    url("fonts/custom.svg#custom") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dashicons-custom-"]:before,
[class*=" dashicons-custom-"]:before {
  font-family: "custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-custom-cogs:before {
  content: "\65";
}
.dashicons-custom-page-search:before {
  content: "\66";
}
