@import '../common';

.wp-block .tile-feature { text-align: center; }
.wp-block .tile-feature .button-container { padding: 30px 0; }
.wp-block .tile-feature .tile__icon { display: flex; align-items: center; justify-content: center; height: 200px; }
.wp-block .tile-feature .tile__icon img { text-align: center; margin-bottom: 20px; font-size: 22px; }
.wp-block .tile-feature .tile__content { padding: 20px 30px; }
.wp-block .tile-feature .tile__content .tile__title { text-align: center; font-size: 30px; line-height: 1.17; }
