/* ------------------------------------------------------------ *\
	Section Video
\* ------------------------------------------------------------ */

.section-video.alignfull { width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; }

.section-video .video { position: relative; min-height: 350px; background: no-repeat 100%/cover; padding-top: 28.57%; }
.section-video .video .video__link { position:absolute; top:0; right:0; bottom:0; left:0 }
.section-video .video .video__link:before { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); border: solid; border-width: 40px 0 40px 70px; border-color: transparent transparent transparent #fff; -webkit-transition: border-color .4s; -o-transition: border-color .4s; transition: border-color .4s; }
.section-video .video .video__link:hover:before { border-color:transparent transparent transparent #dd0b1c; }

@media (max-width: 767px),screen and (max-width: 812px) and (orientation: landscape) {
	.section-video .video .video__link:before{border-width:25px 0 25px 40px; }
}