@import '../common';

.wp-block .tile-testimonial { text-align: center; }
.wp-block .tile-testimonial .tile__image { width: 82px; height: 82px; background: url(../images/image-placeholder.jpg) no-repeat 50%/cover; margin: 0 auto 22px; border-radius: 100%; }
.wp-block .tile-testimonial .tile__content { padding: 20px 30px; }
.wp-block .tile-testimonial .tile__content .tile__title { text-align: center; font-size: 30px; line-height: 1.17; }
