/* ------------------------------------------------------------ *\
	Testimonial Tile
\* ------------------------------------------------------------ */

.wp-block-crb-testimonial-tile-block { text-align: center; }
.wp-block-crb-testimonial-tile-block .tile__image { width: 82px; height: 82px; background: url(../images/image-placeholder.jpg) no-repeat 50%/cover; margin: 0 auto 22px; border-radius: 100%; }
.wp-block-crb-testimonial-tile-block .tile__content { padding: 20px 30px; }
.wp-block-crb-testimonial-tile-block .tile__content .tile__title { font-size: 22px; margin-bottom: 16px; }
.wp-block-crb-testimonial-tile-block .tile__content .tile__content-wrapper { font-style: italic; }