/* ------------------------------------------------------------ *\
	# Lists
\* ------------------------------------------------------------ */

[class^="list"] > ul { list-style: none; position: relative; padding: 0; }