/* ------------------------------------------------------------ *\
	Section Default
\* ------------------------------------------------------------ */

.section-default { margin: 50px 0; }
.section-default .pagetitle { margin-bottom: 20px; }
.section-default .pagetitle:last-child { margin-bottom: 0; }

/*section-default--404*/
.section-default--404 { display: flex; width: 100%; }
.section-default--404 .shell { display: flex; align-items: center; justify-content: center; }
.section-default--404 .section__content { text-align: center; }
.section-default--404 .section__content .btn { margin-top: 20px; }

