/* ------------------------------------------------------------ *\
	# Header
\* ------------------------------------------------------------ */

.header { width: 100%; position: relative; z-index: 900; }

/* ------------------------------------------------------------ *\
	- Admin Bar (if header is fixed)
\* ------------------------------------------------------------ */

/*remove comments for fixed hader*/

/*body.admin-bar .header { margin-top: 32px; }

$breakpoint-admin-bar {
	body.admin-bar .header { margin-top: 46px; }
}*/