/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

[class^="btn"] { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; border-radius: 0; border: 0; }

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn { font-size: 16px; color: $c-white; background: $c-base; padding: 10px 20px; }
.btn:hover { background: color($c-base a(90%)); color: $c-white; }

/*btn--block*/
.btn--block { display: block; padding-left: 0; padding-right: 0; }
