/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { }
.socials ul { list-style: none; padding: 0; display: flex; flex-wrap: wrap; margin: -5px -10px; }
.socials ul li { padding: 5px 10px;  }
.socials ul a { display: block; line-height: 40px; width: 40px; height: 40px; text-align: center; }
.socials ul a:hover { opacity: .5;  }
