/*fonts*/
$font-size-base 			: 16px;
$font-weight-base 			: 400;
$line-height-base			: 1.2;
$font-base-color 			: #000;

$font-family-sans-serif     : "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif          : Georgia, "Times New Roman", Times, serif;

$ff-base 					: $font-family-sans-serif;
$ff-base-titles				: $font-family-serif;

/* transition timing*/
$t-duration 				: 0.4s;

/*shell*/
$shell-max-width 			: 1192px;
$shell-gutter 				: 20px;

/*colors*/
$c-black 					: #000;
$c-white 					: #fff;
$c-base 					: #055590;

/*responsive*/
$responsive-xxs				: 374px;
$responsive-xs				: 767px;
$responsive-xs-min 			: 768px;
$responsive-admin-bar 		: 782px;
$responsive-ios				: 812px;
$responsive-sm				: 1023px;
$responsive-md				: 1200px;
$responsive-lg 				: 1400px;

$breakpoint-mobile-portrait : @media (max-width: $responsive-xxs);
$breakpoint-mobile			: @media (max-width: $responsive-xs), screen and (max-width: $responsive-ios) and (orientation: landscape);
$breakpoint-admin-bar 		: @media (max-width: $responsive-admin-bar);
$breakpoint-tablet-portrait	: @media (max-width: $responsive-sm);
$breakpoint-small-desktop	: @media (max-width: $responsive-md);
$breakpoint-large-desktop 	: @media (max-width: $responsive-lg);
$retina						: @media (min-resolution: 2dppx);
