/* ------------------------------------------------------------ *\
	Feature Tile
\* ------------------------------------------------------------ */

.wp-block-crb-feature-tile-block  { text-align: center; }
.wp-block-crb-feature-tile-block .tile__icon { display: flex; align-items: center; justify-content: center; height: 200px; }
.wp-block-crb-feature-tile-block .tile__icon img { text-align: center; margin-bottom: 20px; font-size: 22px; }
.wp-block-crb-feature-tile-block .tile__content { padding: 20px 30px; }
.wp-block-crb-feature-tile-block .tile__content .tile__title { text-align: center; font-size: 30px; line-height: 1.17; margin-bottom: 14px; }

.wp-block-crb-feature-tile-block + .wp-block-crb-feature-tile-block { margin-top: 20px; }

.feature-tiles .wp-block-column { display: flex; flex-direction: column; justify-content: space-between; }
.feature-tiles .wp-block-column .wp-block-crb-feature-tile-block { flex: 1; }