/* ------------------------------------------------------------ *\
	Media Upload Container
\* ------------------------------------------------------------ */

.edit-post-sidebar .media-upload-container { position: relative; display: flex; align-items: center; justify-content: center; /*width: 120px; height: 120px;*/ background-position: center center; background-size: cover; margin-bottom: 15px; }

.edit-post-sidebar .media-upload-container .button-container { display: inline-block; }

.edit-post-sidebar .media-upload-container .components-placeholder__label,
.edit-post-sidebar .media-upload-container .components-placeholder__instructions { background-color: #fff; border-radius: 4px; padding: 2px 10px; }

/* ------------------------------------------------------------ *\
	Remove Image button
\* ------------------------------------------------------------ */

.remove-image { position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; border-radius: 50%; background: #000; color: #fff; opacity: .8; }

.remove-image:after,
.remove-image:before { content: ""; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); display: block; background-color: #fff; width: 13px; height: 2px; }

.remove-image:after { transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
