/* ------------------------------------------------------------ *\
	Gutenberg Block - Media and Text
\* ------------------------------------------------------------ */

.wp-block-media-text { margin: 55px 0; display: flex; }
.wp-block-media-text .wp-block-media-text__media { width: 50%; }
.wp-block-media-text .wp-block-media-text__content { width: 50%; position: relative; margin: 0 0 0 -65px; min-height: 316px; display: flex; align-items: center; flex-wrap: wrap; background: #fff; padding: 55px 62px; border: 3px solid #f8f8f8; }
.wp-block-media-text .wp-block-media-text__content a { color: #dd0b1c; text-decoration: none; position: relative; }
.wp-block-media-text .wp-block-media-text__content a:after { content: '\f054'; font-family: 'Font Awesome 5 Free';  font-size: 15px; font-weight: 900; color: #dd0b1c; position: absolute; top: 0; right: -30px; transition: 0.5s all; }
.wp-block-media-text .wp-block-media-text__content a:hover:after { right: -40px; }

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media { width: 50%; order: 2; }
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content { margin: 0 -65px 0 0; }
