/* ------------------------------------------------------------ *\
	Gutenberg Block - Button
\* ------------------------------------------------------------ */

.wp-block-button .wp-block-button__link { position: relative; display: inline-block; vertical-align: middle; border: 0; box-shadow: none; padding: 15px 55px 15px 30px; background: #dd0b1c; text-transform: uppercase; text-decoration: none; font-weight: 700; }

.wp-block-button .wp-block-button__link:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 1px solid #dd0b1c; border-radius: 999em; transform: scale(1); opacity: 1; transition: opacity,-webkit-transform; transition: transform,opacity; transition: transform,opacity,-webkit-transform; transition-duration: .4s; }

.wp-block-button .wp-block-button__link:after { content: '\f054'; font-family: 'Font Awesome 5 Free'; position: absolute; top: 50%; transform: translateY(-50%); right: 26px; }

.wp-block-button .wp-block-button__link:hover:before { opacity: 0; transform: scale(1.05,1.2); }


.wp-block-button .wp-block-button__link:not(.has-background) { background-color: #666; }
.wp-block-button .wp-block-button__link:not(.has-text-color) { color: white; }
.wp-block-button .wp-block-button__link:hover { color: white; background: #333; cursor: pointer; }
.wp-block-button .wp-block-button__link:focus { color: white; background: #333; outline: thin dotted; outline-offset: -4px; }

.wp-block-button:not(.is-style-squared) .wp-block-button__link { border-radius: 999em; }

.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:active { border-width: 2px; border-style: solid; }

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) { background: transparent; }
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) { color: #666; border-color: currentColor; }

.wp-block-button.is-style-outline .wp-block-button__link:hover { color: white; border-color: #333; }


.wp-block-button { margin-top: 0; margin-bottom: 0; padding: 55px 0; }