@import '../common';

.wp-block .tile-product { text-align: center; }
.wp-block .tile-product .tile__title { margin-bottom: 20px; font-size: 22px; text-align: center; }
.wp-block .tile-product .tile__image { position: relative; display: flex; align-items: center; justify-content: center; background: no-repeat 50%/cover; height: 208px; margin-bottom: 20px; }

.wp-block .tile-product span.tile__link { color: #dd0b1c; text-decoration: none; position: relative; }
.wp-block .tile-product span.tile__link:after { content: '>'; font-size: 15px; font-weight: 900; color: #dd0b1c; position: absolute; top: 0; right: -30px; transition: 0.5s all; }
.wp-block .tile-product span.tile__link:hover:after { right: -40px; }