/* ------------------------------------------------------------ *\
	Product Tile
\* ------------------------------------------------------------ */

.wp-block-crb-product-tile-block { text-align: center; }
.wp-block-crb-product-tile-block .tile__title { margin-bottom: 20px; font-size: 22px; }
.wp-block-crb-product-tile-block .tile__image { background: no-repeat 50%/cover; padding-top: 53.65%; min-height: 208px; margin-bottom: 20px; }

.wp-block-crb-product-tile-block .tile__link { color: #dd0b1c; text-decoration: none; position: relative; }
.wp-block-crb-product-tile-block .tile__link:after { content: '\f054'; font-family: 'Font Awesome 5 Free';  font-size: 15px; font-weight: 900; color: #dd0b1c; position: absolute; top: 0; right: -30px; transition: 0.5s all; }
.wp-block-crb-product-tile-block .tile__link:hover:after { right: -40px; }